{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form method = 'POST'>
    <h7>Welcome! {{name}}</h7></br>
    <input type="text" name="email" placeholder="Enter Email" value="{{email if email}}" /></br>
    <input type="submit" name = "action1" value = "view"/></br>
    <input type="submit" name = "action2" value = "add"/>
    <input type="submit" name = "action3" value = "delete"/>
    <input type="submit" name = "action4" value = "deleteall"/>
</form>
{% endblock %}